body
{
    background-color: black;
}

h1
{
    color: aliceblue;
    text-align: center;
    font-family: "Rammetto One";
}

.container 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.box
{ 
    border: 2px solid wheat;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(182, 182, 182);
    width: 250px;
    height: 115px;
}

p
{
    text-align: center;
}

input
{
    position: relative;
    margin-left: 21px;
    width: 200px;
}

.buttons
{
    display: flex;
    justify-content: flex-end; 
    
}

button
{
    margin-left: 10px;
}

#ok
{
    color: aliceblue;
    margin-left: 46%;
    background-color: rgb(37, 37, 255);
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 50px;
    cursor: pointer;
}

#cancel
{
    margin-right: 10px;
    color: aliceblue;
    background-color: rgb(103, 103, 103);
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 50px;
    cursor: pointer;
}

#ok:hover
{
    background-color: rgb(0, 0, 162) ;
}

#cancel:hover
{
    background-color: rgb(56, 56, 56);
}

#res
{
    color: red;
}

#att
{
    color: aliceblue;
}